<suite name="FullTestSuite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <parameter name="browser" value="chrome" />

    <test name="LoginTest">
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>

    <test name="EmployeeTest">
        <classes>
            <class name="tests.EmployeeTest" />
        </classes>
    </test>

    <test name="modelTest">
        <classes>
            <class name="tests.ModelsTest" />
        </classes>
    </test>
</suite>