<suite name="FullTestSuite" parallel="tests" thread-count="2">
    <parameter name="browser" value="chrome" />

    <test name="LoginTest">
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>

    <test name="EmployeeTest">
        <classes>
            <class name="tests.EmployeeTest" />
        </classes>
    </test>
</suite>